.option14{
	font-family: 'Open Sans', sans-serif;
}
.option14 a{
	color: #333333;
}
.option14 a:hover{
	color: #cc9933;
}
.scroll_top:hover{
	background-color:#cc9933; 
}
.option14 #main-menu .dropdown-menu .block-container .group_header>a{
	border-color: #cc9933;
}