<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://www.dytt8.net/">电影天堂</a></h3>一个免费下载最新电影的网站！</li>
  <li><h3><a href="http://movie.douban.com/">豆瓣电影</a></h3>一个影评可靠的电影交流网站！</li>
</ul>
<%- include footer %>